.Personal_Info{
    margin-bottom:30px;
}
.Personal_Info_Container{
    font-size: 20px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
#inputbox{
    flex-wrap: nowrap;
}
input{
    text-align: center;
    height: 20px;
}
.cash{
    background-color: white;
    padding:10px;
    font-family: sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}
body{
    background-color: gainsboro;
}
.Bottom_Tab{
    display: flex;
    justify-content: space-between;
}
.Agree_Tab_Container{
    display: flex;
    justify-content: space-between;
}
.Submit_Btn_Container{
    display: flex;
    padding-right: 50%;
    flex-direction: column;
}
.Blank{
    height: 50%;
}
#purchase{
    padding: 50%
}