#event{
    border:  1px solid;
   
    margin-left: 200px;
    width: 1000px;
    height: 100px;
    display: inline-block;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    border-radius: 50px;
    text-align: center;
}