.contents_List{
	padding-bottom:530px;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    background-color: black;
    background-size: 1980px;
    background-position: 0px,-300px;
    margin-bottom:30px;
}
#ChartItem{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
}
.movieChart_listItem{
    border-radius: 5px;
    display: inline;
    margin-top: 20px;
    width: 275px;
    height: 375px;
    justify-content: space-around;
    transition: ease-in-out all 200ms;
    cursor: pointer;
    margin-left:55px;
    margin-right:40px;
    margin-bottom:100px;

}
.movieChart_listItem:hover{
    opacity: 60%;
}
.list_title{
	display: flex;
	font-size: 20px;
	justify-content: space-around;
	color:yellow;	
}
.list_title div{
	width: 200px;
	color:white;
	border:solid white 2px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}
.list_title div:hover{
	color:yellow;
}
.price{
	margin-top: 4px;
    margin-bottom: 0px;
    color: yellow;
    opacity: 100%;
    font-size:20px;
    text-align: right;
    text-shadow: black;
}
#wrapText{
	text-align: center;
	position: relative;
	font-size: 24px;
	font-weight: bold;
	color:white;
	opacity: 0%;
	transition: ease-in-out all 200ms;
	top:50%;
	background-color:black;
	padding:3px;
	
}
.hovering{
	opacity: 100%;
}
body{
	background-color: black;
}
.removeItem{
	display: none;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color:red;
	border: 1px solid red;
}