th,td{
    text-align: center;
    color:white;
    background-color: gray;
    width:150px;
}
table{
    margin-left: 13%;
}
#seat{
    height: 50px;
    text-align: left;
    font-size: large;
    margin-bottom: 60px;
    display: flex;
    padding-left:40px;
    color:white

}
#screen{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 50px;
    font-size: large;
    background-color: gray;
    color:white;
    padding-top:20px;
}
td button{
    width: 150px;
    height: 100px;
    background-color: gray;
	color:white;
	font-size:24px;
    font-weight: bold;
    transition: ease-in-out all 200ms;
}
td button:hover{
    background-color: white;
	color:black;
	font-size:24px;
    font-weight: bold;
}
body{
    background: black;
    margin:0px;
}