h1{
    text-align: center;
    color:white;
}
#container{
    display: flex;
    justify-content: center;
    background-color: #2c2c2c;
}
#item{
    width: 800px;
    height: 400px;

    display: inline-block;
    text-align: center;
}
.btn_container{
	width:800px;
}
#year{
    margin-top: 20px;
}
#month{
    margin-top: 20px;
}
.btn_container button{
    width: 140px;
    height: 90px;
    color:white;
    background-color: #303030;
    border: 2px solid gray;
    font-size:30px;
    font-weight: bold;
    transition: ease-in-out all 200ms;
}
button:hover{
	background-color: gray;
	color:black;
}
body{
	margin:0px;
	background-color: black;
}
p{
    word-spacing: 55px;
}
#date{
	margin-top:30px;
	font-size:30px;
	font-weight: bold;
	color:yellow;
}
#time{
    margin-top: 65px;
}
#person{
    margin-top: 100px;
}
.date_items{
	display: flex;
	justify-content: space-around;
}
.preview_date{
	color:#949494;
	font-size: 24px;
	transition: ease-in-out all 200ms;
}
.preview_date:hover{
	color:#ffffff;
}
.selected_date{
	color:white;
	font-size:30px;
	transition: ease-in-out all 200ms;
}
.date_items span:hover{
	cursor: pointer;
}
#movie_title{
	font-size:40px;
}
.activated{
	background-color: #ffeb37;
}
#submitBtn{
	width: 340px;
    height: 90px;
    color:white;
    background-color: #303030;
    border: 2px solid gray;
    font-size:30px;
    font-weight: bold;
    transition: ease-in-out all 200ms;
}
#submitBtn:hover{
	background-color: white;
	color:black;
}
.price{
	background: gray;
	color:black;
	padding:4px;
	font-size: 18px;
}
form span{
	color:red;
	font-size:24px;
}
#submit_btn{
	transition: ease-in-out all 200ms;
	cursor: pointer;
}
#submit_btn:hover{
	color:yellow;
}