h1{
    text-align: center;
}
#container{
    display: flex;
    justify-content: center;
}
#item{
    width: 300px;
    height: 400px;
    background-color: gray;
    display: inline-block;
    text-align: center;
}
#year{
    margin-top: 20px;
}
#month{
    margin-top: 20px;
}
button{
    width: 50px;
    height: 90px;
}
p{
    word-spacing: 55px;
}
#date{
    margin-top: 230px;
}
#time{
    margin-top: 65px;
}
#person{
    margin-top: 100px;
}